{% extends "base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li role="menuitem"><a href="{% url "members" %}">Members</a></li>
{% endblock %}

{% block content %}
    <div class="large-12 columns">
        {% block member_content %}{% endblock %}
    </div>
{% endblock %}
