{% extends "base_members.html" %}


{% block "page-title" %}{{ Member.email }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li role="menuitem"><a href="{% url "member_detail" member.pk %}">{{ member.email }}</a></li>
{% endblock %}

{% block member_content %}
   {{ member }}
{% endblock %}