{% extends "base_members.html" %}


{% block "page-title" %}{{ project.name }} - Overview{% endblock %}

{% block member_content %}
    {% if members %}
        <table>
            <thead>
                <tr>
                    <th>PK</th>
                    <th>email</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <th>{{ member.pk }}</th>
                        <th>{{ member.email }}</th>
                        <th><a href="{% url "member_detail" member.pk %}">{{ member }}</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span>No members</span>
        <a href="" data-reveal-id="addMemberModal" class="button">Create a new member</a>
    {% endif %}

    <div id="addMemberModal" class="reveal-modal" data-reveal aria-labelledby="Add a member" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Add a new member</h2>
        <form id="addMemberForm" action="#" method="POST" data-url="{% url "members" %}">{% csrf_token %}
            {{ addMemberForm }}
            <button type="submit">Submit</button>
        </form>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
{% endblock %}