{% extends "base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li role="menuitem"><a href="{% url "projects" %}">Projects</a></li>
{% endblock %}

{% block content %}
    <div class="large-3 columns">
        {% block column %}{% endblock %}
    </div>
    <div class="large-9 columns">
        <ul class="tabs">
            <li class="tab-title" role="presentational" >
                <a href="{% url "project_overview" project.pk %}" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Overview</a>
            </li>
            <li class="tab-title" role="presentational" >
                <a href="{% url "project_milestones" project.pk %}" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Milestones</a>
            </li>
            <li class="tab-title" role="presentational" >
                <a href="{% url "project_tasks" project.pk %}" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Tasks</a>
            </li>
        </ul>
        {% block project_content %}{% endblock %}
    </div>
{% endblock %}
