{% extends "base.html"  %}
    {% block breadcrumb %}
        {{ block.super }}
        <li role="menuitem"><a href="{% url "projects" %}">Projects</a></li>
    {% endblock %}
{% block content %}
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li><a href="{% url "project_overview" project.pk %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="" data-reveal-id="addProjectModal" class="button">Create a new project</a>

    {% else %}
        <a href="" data-reveal-id="addProjectModal" class="button">Create a new project</a>
    {% endif %}

    <div id="addProjectModal" class="reveal-modal" data-reveal aria-labelledby="Add a Project" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Add a new project</h2>
        <form id="addTaskForm" action="#" method="POST" data-url="{% url "projects" %}">{% csrf_token %}
            {{ addProjectForm }}
            <p><a href="#" data-reveal-id="addCompanyModal" class="secondary button">+</a></p>
            <button type="submit">Submit</button>
        </form>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <div id="addCompanyModal" class="reveal-modal" data-reveal aria-labelledby="Add a Company" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Add a new company</h2>
        <form id="addCompanyForm" action="#" method="POST" data-url="{% url "companies" %}">{% csrf_token %}
            {{ addCompanyForm }}
            <button type="submit">Submit</button>
        </form>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

{% endblock %}
