{% extends "projects/base_projects.html" %}
{% block page-title %}
    {{ project.name }} - Milestones
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li role="menuitem"><a href="{% url "project_overview" project.pk %}">{{ project.name }}</a></li>
{% endblock %}

{% block column %}
    {{ project.name }}
    Milestone
{% endblock %}

{% block project_content %}
    <h2>Milestones</h2>
    {% if milestones %}
        <ul>
            {% for milestone in milestones%}
                <li><a href="{% url "project_milestone" project_id=project.pk milestone_id=milestone.pk %}">{{ milestone.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="#" data-reveal-id="addMilestoneModal" class="button success">Add a new one</a>
    {% else %}
        <p>No Milestone</p>
        <a href="#" data-reveal-id="addMilestoneModal" class="button success">Add One</a>
    {% endif %}


    <div id="addMilestoneModal" class="reveal-modal" data-reveal aria-labelledby="Add a milestone" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Add a milestone.</h2>

        <form id="addMilestoneForm" action="#" method="POST" data-url="{% url "project_milestones" project.pk %}">{% csrf_token %}
            {{ addMilestoneForm }}
            <button type="submit">Submit</button>
        </form>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
{% endblock %}
