{% extends "projects/base_projects.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li role="menuitem"><a href="{% url "project_overview" project.pk %}">{{ project.name }}</a></li>
    <li role="menuitem"><a href="{% url "project_milestones" project.pk %}">Miletones</a></li>
    <li role="menuitem"><a href="{% url "project_milestone" project_id=project.pk milestone_id=milestone.pk%}">{{ milestone.name }}</a></li>
{% endblock %}

{% block column %}
    {{ project.name }}
{% endblock %}

{% block project_content %}
    <h2>{{ milestone.name }}</h2>
    <ul>
        {% for task in milestone.task_set.all %}
            <li><a href="{% url "project_task" project_id=project.pk task_id=task.pk %}">{{  task.name }}</a></li>
            Duration: {{ task.duration }}
        {% endfor %}
    </ul>
    {% endblock %}
