{% extends "projects/base_projects.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li role="menuitem"><a href="{% url "project_overview" project.pk %}">{{ project.name }}</a></li>
{% endblock %}

{% block column %}
    {{ project.name }}
    Overview
{% endblock %}

{% block project_content %}
    <h2>Overview</h2>
    Number of Tasks: {{ project.task_set.all.count }}
    Total duration: {{ project.get_total_duration }}
{% endblock %}
