{% extends "projects/base_projects.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li role="menuitem"><a href="{% url "project_overview" project.pk %}">{{ project.name }}</a></li>
{% endblock %}

{% block column %}
    {{ project.name }}
    Tasks
{% endblock %}

{% block project_content %}
    <h2>Tasks</h2>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>
                    <a href="{% url "project_task" project_id=task.project.pk task_id=task.id %}">{{ task.name }}</a>
                    Duration: {{ task.duration }}
                </li>
            {% endfor %}
        </ul>
        <a href="#" data-reveal-id="addTaskModal" class="button success">Add One</a>

    {% else %}
        <p>No Task</p>
        <a href="#" data-reveal-id="addTaskModal" class="button success">Add One</a>
    {% endif %}

    <div id="addTaskModal" class="reveal-modal" data-reveal aria-labelledby="Add a Task" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Add a task.</h2>

        <form id="addTaskForm" action="#" method="POST" data-url="{% url "project_tasks" project.pk %}">{% csrf_token %}
            {{ addTaskForm }}
            <button type="submit">Submit</button>
        </form>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

{% endblock %}
