{% extends "projects/base_projects.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li role="menuitem"><a href="{% url "project_overview" task.project.pk %}">{{ task.project.name }}</a></li>
    <li role="menuitem"><a href="{% url "project_tasks" task.project.pk %}">Tasks</a></li>
    <li role="menuitem"><a href="{% url "project_task" project_id=task.project.pk task_id=task.pk%}">{{ task.name }}</a></li>
{% endblock %}

{% block column %}
    {{ task.project.name }}
    Tasks
{% endblock %}

{% block project_content %}
    <h2>{{ task.name }}</h2>
<p>Created by {{ task.created_by }} on {{ task.creation_date }}</p>
    <p>{{ task.description }}</p>
    <p>Assigned to : {{ task }}</p>
    <p>Estimated duration: {{ task.duration }} Hours</p>

    <p>History</p>
    <table>
        <thead>
            <tr>
                <th width="200">Date</th>
                <th>Elapsed time</th>
                <th>Progession</th>
            </tr>
        </thead>
        <tbody>
        {% for action in task.action_set.all %}
            <tr>
                <td>{{ action.date }}</td>
                <td>{{ action.elapsed_time }}</td>
                <td>{{ action.progression }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
