{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page-title %}{% endblock %} - Evensive</title>

  <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/foundation.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">

  <!-- If you are using the gem version, you need this only
  <link rel="stylesheet" href="css/app.css">-->

  <script src="/static/js/vendor/modernizr.js"></script>

</head>
<body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Evensive</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="{% url "projects" %}">Projects</a></li>
          <li><a href="{% url "members" %}">Members</a></li>
        </ul>
      </section>
    </nav>
    <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
        {% block breadcrumb %}
            <li role="menuitem"><a href="/">Home</a></li>
        {% endblock %}
    </nav>
    <!-- body content here -->
    {% block content %}{% endblock %}

     <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/custom.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>